<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button
      class="btn btn-success m-2"
      type="button"
      routerLink="/Dashboard"
      routerLinkActive="active"
    >
      Dashboard
    </button>
    <button
      class="btn btn-secondary m-2"
      type="button"
      routerLink="./Myprofile"
      routerLinkActive="active"
    >
      Profile
    </button>
    <button
      class="btn btn-info m-2"
      type="button"
      routerLink="/Myattendance"
      routerLinkActive="active"
    >
     Model
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Grid"
      routerLinkActive="active"
    >
     Grid System
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/home"
      routerLinkActive="active"
    >
      Home
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/CheckoutForm"
      routerLinkActive="active"
    >
      CheckoutForm
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Directives"
      routerLinkActive="active"
    >
      Directives
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/reactiveform"
      routerLinkActive="active"
    >
      reactive-form
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Pipes"
      routerLinkActive="active"
    >
      Pipes
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/API"
      routerLinkActive="active"
    >
     GetAPI
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Post"
      routerLinkActive="active"
    >
     PostAPI
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Task"
      routerLinkActive="active"
    >
     Task
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/javascript"
      routerLinkActive="active"
    >
     Javascript
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Crud"
      routerLinkActive="active"
    >
     Crud
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Login"
      routerLinkActive="active"
    >
     login page
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/signUp"
      routerLinkActive="active"
    >
     signUp
    </button>
    <button
    class="btn btn-warning m-2"
    type="button"
    routerLink="/Validations"
    routerLinkActive="active"
  >
  Validations
  </button>
  <button
  class="btn btn-warning m-2"
  type="button"
  routerLink="/reactive"
  routerLinkActive="active">
  reactiveFormValidations
</button>
<button
class="btn btn-warning m-2"
type="button"
routerLink="/formvalidations"
routerLinkActive="active">
formvalidations
</button>
<button
class="btn btn-warning m-2"
type="button"
routerLink="/routing"
routerLinkActive="active">
routing
</button>
<button
class="btn btn-warning m-2"
type="button"
routerLink="/queryparams"
routerLinkActive="active">
queryparams
</button>
  </form>
</nav>

<div class="border border-3 border-dark"></div>

<!-- <app-parent></app-parent> -->


<div class="row">
  <router-outlet></router-outlet>
</div>

<!-- <app-test [parentMsg]="fromParent"></app-test> -->

<!-- <button (click)="getdata()">get</button>

<div *ngIf="data">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>age</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let users of users">
        <td>{{ users.id }}</td>
        <td>{{ users.firstName }}</td>
        <td>{{ users.lastName }}</td>
        <td>{{ users.age }}</td>
      </tr>
    </tbody>
  </table>
</div> -->











