<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button
      class="btn btn-success m-2"
      type="button"
      routerLink="/Dashboard"
      routerLinkActive="active"
    >
      Dashboard
    </button>
    <button
      class="btn btn-secondary m-2"
      type="button"
      routerLink="./Myprofile"
      routerLinkActive="active"
    >
      My profile
    </button>
    <button
      class="btn btn-info m-2"
      type="button"
      routerLink="/Myattendance"
      routerLinkActive="active"
    >
      My Attendance
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Myleaves"
      routerLinkActive="active"
    >
      My Leaves
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/home"
      routerLinkActive="active"
    >
      Home
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/CheckoutForm"
      routerLinkActive="active"
    >
    CheckoutForm
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Directives"
      routerLinkActive="active"
    >
    Directives
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/reactiveform"
      routerLinkActive="active"
    >
    reactive-form
    </button>
    <button
      class="btn btn-warning m-2"
      type="button"
      routerLink="/Pipes"
      routerLinkActive="active"
    >
    Pipes
    </button>
    
  </form>
</nav>

<div class="border border-3 border-dark">

</div>



<div class="my-background">
  <router-outlet></router-outlet>
</div>

<!-- <app-test [parentMsg]="fromParent"></app-test> -->



