
.header{
    font-weight: bold;

}
.btn{
    border-radius: 88px;

}
.btn1:hover{
    background-color: white;
  
}
a{
    text-decoration: none;
}
.fontUser{
    position: relative;
}
.icon{
    position: absolute;
    right: 15px;
    top: 35%;
}