<h1>String Methods</h1><hr>
<h3>string:{{str}}</h3>
<h3>string length:{{str1}}</h3>
<h3>string slice:{{str2}}</h3>
<h3>string replace:{{str3}}</h3>
<h3>string charAt:{{str4}}</h3>
<h3>string substring:{{str5}}</h3>
<h3>string substr:{{str6}}</h3>
<h3>string Uppercase:{{str7}}</h3>
<h3>string Lowercase:{{str8}}</h3>
<h3>string concat:{{str9}}</h3>
<h3>string trim:{{str10}}</h3>
<h3>string trimend:{{str11}}</h3>
<h3>string trimstart:{{str12}}</h3>
<h3>string split{{str13}}</h3>
<h3>string charCodeAt:{{str14}}</h3><br><br>

<hr><h1>Array Methods</h1><hr>

<h3>Array length:{{array1}}</h3>
<h3>Array toString:{{array2}}</h3>
<h3>Array Join:{{array3}}</h3>
<h3>Array pop:{{array4}}</h3>
<h3>Array push:{{array5}}</h3>
<!-- <h3>{{std}}</h3> -->
<h3>Array shift:{{array6}}</h3>
<h3>Array Unshift:{{array7}}</h3>

<h3>Array slice:{{array8}}</h3>
<h3>Array splice:{{array9}}</h3>
<h3>Array Value:{{array10}}</h3>
<h3>Araay sort:{{array11}}</h3>



