<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->


  <body class="container mt-5">
    <div class="row text-center">
        <div class="col p-1">
            <div class="p-3 bg-warning text-white">1</div>
        </div>
    </div>
    <div class="row text-center mt-2">
        <div class="col-6 p-1"><div class="p-3 bg-warning text-white"> 2</div></div>
        <div class="col-6 p-1"><div class="p-3 bg-warning text-white"> 2</div></div>
    </div>
    <div class="row text-center">
        <div class="col-4 p-1"><div class="p-3 bg-warning text-white">4</div></div>
        <div class="col-4 p-1"><div class="p-3 bg-warning text-white">5</div></div>
        <div class="col-4 p-1"><div class="p-3 bg-warning text-white">6</div></div>
    </div>
    <div class="row text-center">
        <div class="col-3 p-1"><div class="p-3 bg-warning text-white">7</div></div>
        <div class="col-3 p-1"><div class="p-3 bg-warning text-white">8</div></div>
        <div class="col-3 p-1"><div class="p-3 bg-warning text-white">9</div></div>
        <div class="col-3 p-1"><div class="p-3 bg-warning text-white">10</div></div>

    </div>
    <div class="row text-center">
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">11</div></div>
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">12</div></div>
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">13</div></div>
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">14</div></div>
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">15</div></div>
        <div class="col-2 p-1"><div class="p-3 bg-warning text-white">16</div></div>
    </div>
    
</body>
