<div class="profileDesign">
    <h1>PROFILE CARD DESIGN</h1>
    </div>
    <div class="profile-area">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="img1"><img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80"></div>
                        <div class="img2"><img class="position-relative" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"></div>
                        <div class="main-text">
                            <h2>Person One</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea minima atque iste velit deserunt molestias expedita impedit, corporis facere, sed dicta, laboriosam unde voluptatibus necessitatibus obcaecati voluptatem eligendi fuga.</p>
                        </div>
                        <div class="socials">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-linkedin"></i>
                            <i class="bi bi-instagram"></i> 
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="img1"><img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80"></div>
                        <div class="img2"><img class="position-relative" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"></div>
                        <div class="main-text">
                            <h2>Person Two</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea minima atque iste velit deserunt molestias expedita impedit, corporis facere, sed dicta, laboriosam unde voluptatibus necessitatibus obcaecati voluptatem eligendi fuga.</p>
                        </div>
                        <div class="socials">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-linkedin"></i>
                            <i class="bi bi-instagram"></i>  
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="img1"><img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80"></div>
                        <div class="img2"><img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"></div>
                        <div class="main-text">
                            <h2>Person Three</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea minima atque iste velit deserunt molestias expedita impedit, corporis facere, sed dicta, laboriosam unde voluptatibus necessitatibus obcaecati voluptatem eligendi fuga.</p>
                        </div>
                        <div class="socials">
                             <i class="bi bi-facebook"></i>
                             <i class="bi bi-twitter"></i>
                             <i class="bi bi-linkedin"></i>
                             <i class="bi bi-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h1>HTML CSS BOOTSTRAP</h1>

    </div>

  
  